__pycache__/
*.py[cod]
.DS_Store
.history/
.pytest_cache/
.venv/
scratch/
.env
.env.*
*.env
credentials.json*
settings.json*
.credentials.json.*
.settings.json.*
*.sqlite*
*.db*
*.anki2*
*.apkg
*.colpkg
*.ankiaddon
*.log
*.pem
*.key
collection.media/
